<h1>Order Details</h1>

<div class="order-details">
  <h2>Invoice for Order no. <%= orderNumber %></h2>
  <div class="shipping-info">
    <p>Name: <%= userInfo.fname + ' ' + userInfo.lname %></p>
    <p>Address: <%= userInfo.address %> <br>
    <span><%= userInfo.city + ', ' + userInfo.zip %></span></p>
    <p>Email: <%= userInfo.email %></p>
    <p>Estimated shipping date: <%= shippingEstimate %></p>
  </div>

  <h2>Books</h2>
    <table class="table">
      <tr class="title-row">
        <th>ISBN</th>
        <th>Title</th>
        <th>Price $</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
      <% cartItems.forEach(function(item) { %>
        <tr class="book-row">
          <td><%= item.isbn %></td>
          <td><%= item.title %></td>
          <td><%= item.price %> $</td>
          <td><%= item.qty %></td>
          <td><%= item.total %> $</td>
        </tr>
      <% }) %>
    </table>

    <p id="grandTotal">Order Total: <%= grandTotal %> $</p>
</div>